:root {
  --primary: #111827;
  --Bg: #fff;
  --text-primary: #2e2e2e;
  --text-secondary: #fff;
  --border: #e5e7eb;
  --hover: #a3b899;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--Bg);
  position: relative;
}
#menu {
  background-color: var(--primary);
  width: 300px;
  height: 100vh;
}
#menu .logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 30px 0 0 30px;
  color: var(--text-secondary);
}
#menu .logo img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 15px;
}
#menu .item {
  margin-top: 40px;
}
#menu .item li {
  list-style: none;
  padding: 20px 0;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
#menu .item li:hover {
  background-color: #253047;
  cursor: pointer;
}
#menu .item li:nth-child(1) {
  border-left: 4px solid var(--text-secondary);
}
#menu .item li i {
  color: rgb(134, 141, 151);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  margin: 0 10px 0 25px;
}
#menu .item li:hover i {
  color: #f3f4f6;
}
#menu .item li a {
  text-decoration: none;
  color: rgb(134, 141, 151);
  font-size: 24px;
  transition: 0.3s ease;
}
#menu .item li:hover a {
  color: #f3f4f6;
}
