:root {
  --primary: #111827;
  --Bg: #f3f4f6;
  --text-primary: #2e2e2e;
  --text-secondary: #fff;
  --border: #e5e7eb;
  --hover: #a3b899;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--Bg);
  position: relative;
  display: flex;
}
#menu {
  background-color: var(--primary);
  width: 300px;
  height: 100vh;
}
#menu .logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 30px 0 0 30px;
  color: var(--text-secondary);
}
#menu .logo img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 15px;
}
#menu .item {
  margin-top: 40px;
}
#menu .item li {
  list-style: none;
  padding: 20px 0;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
#menu .item li:hover {
  background-color: #253047;
  cursor: pointer;
}
#menu .item li:nth-child(1) {
  border-left: 4px solid var(--text-secondary);
}
#menu .item li i {
  color: rgb(134, 141, 151);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px;
  margin: 0 10px 0 25px;
}
#menu .item li:hover i {
  color: #f3f4f6;
}
#menu .item li a {
  text-decoration: none;
  color: rgb(134, 141, 151);
  font-size: 24px;
  transition: 0.3s ease;
}
#menu .item li:hover a {
  color: #f3f4f6;
}
#interface {
  width: calc(100% - 300px);
}
#interface .nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  border-bottom: 3px solid #594ef7;
}
#interface .nav .search {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #d7dbe6;
  border-radius: 4px;
}
#interface .nav .search i {
  margin-right: 14px;
}
#interface .nav .search input {
  border: none;
  outline: none;
  font-size: 14px;
}
#interface .nav .right {
  display: flex;
  justify-content: start;
  align-items: center;
}
#interface .nav .right i {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 400;
}
#interface .nav .right img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100%;
}
.i-name {
  font-size: 24px;
  font-weight: 700;
  color: #444953;
  padding: 30px 30px 0 30px;
}
.values {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.values .value-box {
  background-color: #fff;
  flex: 1 1 230px;
  height: 120px;
  padding: 20px 24px;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.values .value-box i {
  font-size: 26px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  color: #ffffff;
}
.values .value-box:nth-child(1) i {
  background-color: #7b74ec;
}
.values .value-box:nth-child(2) i {
  background-color: #5c89f0;
}
.values .value-box:nth-child(3) i {
  background-color: #e45d99;
}
.values .value-box:nth-child(4) i {
  background-color: #74daec;
}
.values .value-box h3 {
  font-size: 24px;
  margin-bottom: 4px;
}
.values .value-box span {
  font-size: 18px;
  color: #828997;
}
